.top-btn {
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 0;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    &--show {
        opacity: 1;
        pointer-events: auto;
    }
}
