@import "../../mixin";

.main-view {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color:#F3F3F3;
    &__img-wrap{
        position:relative;
        margin-bottom: 40px;
        padding:9px;
        width:194px;
        height:194px;
        overflow:hidden;
        &::before{
            transform-origin: left top;
            position: absolute;
            left:50%;
            top:50%;
            content:"";
            display: block;
            width:200%;
            height:200%;
            background:linear-gradient(135.19deg, #6f669b 0%, #6D89B3 60.46%, #918AB3 113.54%);
            animation: rotate 2s linear infinite;
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg) translate(-50%, -50%,);
            }
            100% {
                transform: rotate(360deg) translate(-50%, -50%,);
            }
        }
    }
    &__img {
        position: relative;
        z-index:1;
        width:100%;
        height:100%;
        object-fit:cover;
        background: #272A2F;
    }
    &__title{
        font-weight:400;
    }
    &__sub-title {
        margin-bottom: 40px;
    }
    &__btn--resume {
        padding: 20px 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 54px;
        background: #F3F3F3;
        border: none;
        border-radius: 4px;
        color: #272A2F;
        font-size: 18px;
        animation: floating 2s infinite;
    }
    @keyframes floating {
        0% {
            transform: translate3d(0, -20%, 0);
        }
        50% {
            transform: translate3d(0, 20%, 0);
        }
        100% {
            transform: translate3d(0, -20%, 0);
        }
    }
}

