.title {
    color:#F3F3F3;
    &--primary{
        background:#F3F3F3;
        color:#272A2F;
    }
    &--border {
        border-bottom: 1px solid;
    }
    &--center {
        text-align: center;
    }
    &--h1 {
        font-size: 48px;
        font-weight: 700;
    }
    &--h2 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
    }
    &--h3 {
        font-size: 20px;
        font-weight: 500;
    }
}
