@import "@Components/mixin";

.work {
    margin:0 auto;
    width:calc(100% - 32px);
    max-width:800px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    border-radius:4px;
    color: #F3F3F3;
    &__title {
        font-size: 16px;
        font-weight:700;
        @include desktop {
            font-size: 24px;
            font-weight:500;
        }
    }
}
