$skill-list-prefix: "skill-list";
.#{$skill-list-prefix} {
    margin-bottom:58px;
    padding:20px 16px 0;
    width: 100%;
    word-break: keep-all;
    &__item {
        position: relative;
        margin-bottom:6px;
        padding: 0 0 0 20px;
        width: 100%;
        font-size:16px;
        line-height:20px;
        color:#F3F3F3;
        &--sub{
            opacity: 0.7;
        }
        &::before{
            content:"";
            position:absolute;
            top:8px;
            left:10px;
            display: block;
            width:3px;
            height:4px;
            background:#F3F3F3;
            border-radius: 50%;
        }
    }
}
