@charset "utf-8";

.l_wrap{display:flex;justify-content:center;align-items:center;width:100%;height:100%;background:#A2ABDA;}

.l_main{padding:35px 39px;display:flex;flex-direction:column;width:1000px;height:800px;border:1px solid #000;border-radius:4px;background:#fff;box-sizing:border-box;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);}


.m_header{margin-bottom:10px;display:flex;align-items:center;gap:20px;height:47px;}
.m_header__title{flex:1;font-size:40px;color:#000;}


.m_btn{display:flex;justify-content:center;align-items:center;width:115px;height:34px;border:1px solid #000;border-radius:4px;font-size:18px;color:#000;}
.m_btn--danger{border-color:#F53535;color:#F53535;}
.m_btn--right{margin-left:auto;}

.m_tbl{flex:1;display:flex;flex-direction:column;}
.m_tbl__table{margin:0 0 auto;font-size:23px;color:#222;}
.m_tbl__row{height:54px;}
.m_tbl__row--title{height:60px;}
.m_tbl__title{border-bottom:1px solid #000;}
.m_tbl__text{border-bottom:1px solid #A5A5A5;}
.m_tbl__text--left{text-align:left;}


.m_paging{display:flex;justify-content:center;align-items:center;gap:24px;height:48px;}
.m_paging__btn{overflow:hidden;display:flex;justify-content:center;align-items:center;width:36px;height:36px;}
.m_paging__nums{display:flex;justify-content:center;align-items:center;gap:24px;font-size:24px;color:#000;}

.m_input-title{padding:10px;width:100%;height:50px;box-sizing:border-box;border-radius:2px;border:1px solid #000;font-size:36px;}

.m_notice-info{line-height:40px;font-size:16px;}

.m_notice{margin-bottom:10px;padding:10px;width:100%;flex:1;border:1px solid #000;box-sizing:border-box;border-radius:2px;font-size:24px;color:#000;line-height:24px;}
.m_notice:last-child{margin-bottom:0;}
.m_notice[readonly]{cursor:default;border:none;border-top:1px solid #000;}
.m_notice[readonly]:focus{outline:none;}