@import "@Components/mixin";

.contact {
    margin:0 auto;
    max-width:1060px;
    width:100%;
    color:#F3F3F3;
    &__item {
        position:relative;
        display: flex;
        justify-content:center;
        align-items: center;
        height: 80px;
    }
    &__icon {
        padding: 0 10px;
        font-size: 38px;
    }
    &__info {
        min-width:220px;
        text-align: center;
        @include desktop {
            min-width:300px;
        }
    }
    &__text {
        text-decoration: underline;
        color:#F3F3F3;
        font-size: 18px;
    }
}
