#__next,
.l_wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.l_transition {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.l_main {
    padding: 20px 0;
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.info-enter,
.info-exit {
    z-index: 9;
    transition: all 0.3s ease-in-out;
}
.info-enter,
.info-exit-active {
    transform: translate3d(0, calc(100% - 74px), 0);
}
.info-enter-active {
    transform: translate3d(0, 0, 0);
}
